@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff6f6;
  --foreground: #e11d48;
  --text-primary: #334155;
  --text-secondary: #64748b;
  --accent: #fb7185;
  --accent-light: #fecdd3;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}